<style type="text/css" media="screen">
*{
	font-size:20px;
}
#timer_bar{	
	float: left;
	height: 50px;
	width: 700px;
	background-color: #FF3B52;
}
body{
	background-color: white;
	margin: 0;
	padding: 0;
}
#main {
	color: white;
	background-color: #4C3D2C;
	margin: 0 3%;
	padding: 20px;
}
.clear{
	clear:both;
}
#timer_buttons{
	width: 230px;
	float:left;
}
a{
	text-decoration: none;
}
span.button{
	font-weight: bold;

	padding-bottom: 0px;
	text-align: center;
}
span.button a{
	position: relative;
	top: 15px;
	color:black;
}
span.button a:hover{
	color:white;
}
#work_25{background-color: #F43644;}
#break_5{background-color: #A2E05E;}
#break_25{background-color: #87BF70;}

#timer_buttons span{
	height: 50px;
	width: 50px;
	display: block;
	float:left;
	margin: 0 10px;
}
#timer_bar span{top: 35px;}

#five{position:absolute; left:425px;}
#ten{position:absolute; left:565px;}
#fifteen{position:absolute; left:705px;}
#twenty{position:absolute; left:845px;}
</style>




<script>

// TImer class
function Timer(time){
	this.timeLeft = time;
}
Timer.prototype.decrement = function(seconds){
	if (this.timeLeft > 0){
		this.timeLeft -= seconds;
	}	
}


var timer = new Timer(25);

function timerCountdown(){
	timer.decrement(1);
    var start = parseInt( $('#timer_bar').css('width'));
     $('#timer_bar').css('width', start - 30 + 'px');
}

$(function(){

	$('#timer_buttons a').each( function(index, element){
		var elId = $(element).parent().attr('id');
		var underscorePosition = elId.indexOf('_');
		var timerAmount = elId.substr(underscorePosition + 1, elId.length);

		$(element).click(function(){
			$('#timer_bar').css('width', parseInt(timerAmount) * 30 + 'px' );
			setInterval('timerCountdown()', 1000);
			return false;
		});
	});

});

</script>

<div>
	<span id="timer_buttons">
	   <span class="button" id="work_25"><a href="#"> 25</a></span>
	   <span class="button" id="break_5"><a href="#"> 5 </a></span>
	   <span class="button" id="break_25"><a href="#">25</a></span>
	</span>
	<span id="timer_bar">
		<span id="five">5</span>
		<span id="ten">10</span>
		<span id="fifteen">15</span>
		<span id="twenty">20</span>
	</span>
	
	<div class="clear">
		
	</div>
</div>



